<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ByteDance.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E12D545E9F54A811F291F098302F8054C0001CB7</string>
				<key>dateExpires</key>
				<string>2022/7/7</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E12D545E9F54A811F291F098302F8054C0001CB7</string>
						<key>dateExpires</key>
						<string>2022/7/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MZ6AGR4FJ</string>
						<key>name</key>
						<string>Shanghai Golden Bridge InfoTech Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E12D545E9F54A811F291F098302F8054C0001CB7</string>
						<key>dateExpires</key>
						<string>2022/7/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaAsyncSocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MZ6AGR4FJ</string>
						<key>name</key>
						<string>Shanghai Golden Bridge InfoTech Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.6.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E12D545E9F54A811F291F098302F8054C0001CB7</string>
						<key>dateExpires</key>
						<string>2022/7/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaMQTT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MZ6AGR4FJ</string>
						<key>name</key>
						<string>Shanghai Golden Bridge InfoTech Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E12D545E9F54A811F291F098302F8054C0001CB7</string>
						<key>dateExpires</key>
						<string>2022/7/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MZ6AGR4FJ</string>
						<key>name</key>
						<string>Shanghai Golden Bridge InfoTech Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>15.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E12D545E9F54A811F291F098302F8054C0001CB7</string>
						<key>dateExpires</key>
						<string>2022/7/7</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9MZ6AGR4FJ</string>
						<key>name</key>
						<string>Shanghai Golden Bridge InfoTech Co.,Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9MZ6AGR4FJ.com.shgbit.ByteDance</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9MZ6AGR4FJ</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>9MZ6AGR4FJ.com.shgbit.ByteDance</string>
				</array>
			</dict>
			<key>name</key>
			<string>ByteDance.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1b4a6c66-f9fc-41a1-85a3-98fd034b7fba</string>
				<key>dateExpires</key>
				<string>2022/11/12</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.shgbit.ByteDance</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9MZ6AGR4FJ</string>
				<key>name</key>
				<string>Shanghai Golden Bridge InfoTech Co.,Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
